agents_env/
.env
__pycache__/
*.pyc
.DS_Store
.adk/
Run_test.ipynb
Scans/
*.xlsx
*.pdf
acumatica_integration.ipynb

# Bot
bot/__pycache__/
teams_manifest/*.zip
audit_logs/
ADK_Agentic/logs/
ADK_Agentic/cache/
ADK_Agentic/output/
ADK_Agentic/scans/